@font-face {
  font-family: "Railey-PersonalUse";
  src: url("/home/bk/.local/share/fonts/Railey-PersonalUse.ttf") format("truetype");
}

* {
  background-color: #1b3c3d;
  font-size: 26px;
  font-family: "Railey-PersonalUse", sans-serif;
  font-weight: lighter;
}

.img-container {
  text-align: center;
}

#logo {
  width: 300px;
}

.recipe-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container {
  width: 300px;
  border: 2px solid #e1b060;
  margin: 0px 20px;
  border-radius: 5px;
  padding-top: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.7s ease;
}

.recipe-container:hover {
  transform: translateY(-20px);
}

.recipe-container img {
  width: 180px;
  height: 280px;
  border-radius: 4px;
}

.recipe-container a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#footer img {
  width: 200px;
  margin-top: 30px;
  cursor: pointer;
}

/* Recipes pages */

h2 {
  color: #e1b060;
}

.main-section-container {
  max-width: 800px;
  color: white;
  margin: 0 auto;
}

.main-section-container img {
  width: 500px;
  border-radius: 5px;
}