@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  background-color: #1b3c3d;
  font-size: 26px;
  font-family: 'Dancing Script', cursive;
  font-weight: 300;
}

.img-container {
  text-align: center;
}

#logo {
  width: 300px;
}

.recipe-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container {
  width: 300px;
  height: auto;
  border: 2px solid #e1b060;
  border-radius: 5px;
  margin: 0px 20px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.7s ease;
}

.recipe-container:hover {
  transform: translateY(-20px);
}

.recipe-container img {
  width: 180px;
  height: 280px;
  border-radius: 4px;
}

.recipe-container a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#footer img {
  width: 200px;
  margin-top: 30px;
  cursor: pointer;
}

/* Recipes pages */

h2 {
  color: #e1b060;
}

.main-section-container {
  max-width: 800px;
  color: white;
  margin: 0 auto;
}

.main-section-container img {
  width: 500px;
  border-radius: 5px;
}